.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.todo span {
  display: inline-block;
  width: 130px;
  /* height: 40px; */
  border: 1px solid pink;
}
